@model eShop.Web.Pages.DetailsModel
@using eShop.Shared.DTOs.Reviews

@if (Model.Product is not null)
{
    <div class="product-reviews">
        <!-- Write a Review Form -->
        @{
            ViewData["ProductId"] = Model.Product.Id;
        }
        <partial name="_ReviewForm" model="Model.NewReview" />

        <hr class="my-4" />

        <vc:product-reviews product-id="@Model.Product.Id" 
            average-rating="@Model.Product.AverageRating"
            count="@Model.Product.ReviewCount"
            pagination-parameters="new PaginationParameters{ PageNumber = 1, PageSize = 2 }"
        >
        </vc:product-reviews>
    </div>
}
else
{
    <p class="h1">Details of this product is unavailable.</p>
}