@model List<ProductDto>?
@{
    ViewData["Title"] = "Catalog";
}

<h2>All Products</h2>
@if (Model is null || Model.Count() == 0)
{
    <div>No Products available!</div>
}
else
{
    foreach (var product in Model)
    {
        <div>
            <h4>@product.Name</h4>
            <p>@product.Description</p>
            <button>@product.BasePrice</button>
        </div>
    }
}